@mixin task-styling() {
    font-family: 'Poppins-Regular', sans-serif;
    background: $background-task-items;
    margin: 0.5rem;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
