@import '../style/global/font.scss';
@import '../style/global/variables';
@import '../style/global/mixins';

.taskCompleteWrap {
    @include task-styling;
    background-color: inherit;
    hr {
        color: white !important;
    }
    .completedItems {
        border: none;
        background: inherit;
        margin: 0.5rem;
        width: 100%;
        color: $deleted-task;
        @include overflow-text-description(center);
    }
}
