@import '../style/font.scss';
@import '../style/variables';
@import '../style/mixins';

.task-list-wrap {
    @include task-styling;
     background-color: inherit;
     hr {
        color: white !important;
     }
    .list-group-item {
        border: none;
        background: inherit; 
        margin: 0.5rem;
        width: 100%;
        color: $deleted-task;

        &:hover {
            background: $hover-task;
        }
    }
}
