@import '../style/font.scss';
@import '../style/variables';
@import '../style/mixins';

.task-complete-wrap {
    @include task-styling;
    background-color: inherit;
    hr {
        color: white !important;
    }
    .completed-items {
        border: none;
        background: inherit;
        margin: 0.5rem;
        width: 100%;
        color: $deleted-task;
        @include overflow-text-description;
    }
}
