@import '../style/font.scss';
@import '../style/variables';
@import '../style/mixins';

.completed-list {
    @include task-styling;
     background-color: inherit;
    .list-group-item {
        border: none;
        background: $background-task-items;
        margin: 0.3rem;
        width: 100%;
        color: $deleted-task;

        &:hover {
            background: $hover-task;
        }
    }
}
