@import '../style/font.scss';
@import '../style/variables';
@import '../style/mixins';

.list-group-horizontal {
    @include task-styling;

    .list-group-item {
        border: inherit;
        background: inherit;
    }

    &:hover {
        background: $hover-task;
    }
}
