@import '../style/variables';
.container {
    text-align: center;
    padding-top: 3rem;

    .col {
        p {
            padding-top: 2rem !important;
        }

        .add-input {
            border-radius: 5px 0 0 5px !important;
        }
        .form-check-input {
            &:hover {
                cursor: pointer;
            }
        }
        hr {
            margin: 0;
            color: $white-color;
        }

        .task-list {
            margin-top: 2rem;
            .list-group-item {
                border: none;
            }
        }
    }
}
