.container {
    text-align: center;
    margin-top: 3rem;

    .add-input {
        border-radius: 5px !important;
    }

    .task-list {
        margin-top: 2rem;
        .list-group-item {
            border: none;
        }
    }
}
