@import './font.scss';
@import './style/variables';
@import './style/mixins';

.completed-list {
    @include task-styling;

    .list-group-item {
        border: none;
        background: inherit;
        margin: 0.5rem;
        background: $background-task;
        width: 100%;
        color: $deleted-task;

        &:hover {
            background: $hover-task;
        }
    }
}
