@import './font.scss';

    .list-group-horizontal {
        font-family: "Poppins-Regular", sans-serif;
        background: #f4f4f4;
        margin: 0.5rem;
        align-items: center;
        justify-content: center;
        text-align: center;

        .list-group-item {
            border: inherit;
            background: inherit;
        }

        &:hover {
            background: lightgoldenrodyellow;
        }

    }
