@import './font.scss';

    .list-group-horizontal {
        font-family: "Poppins-Regular", sans-serif;
        background: #f4f4f4;
        margin-top: 2rem !important;
        align-items: center !important;
        justify-content: center !important;
        text-align: center !important;

        .list-group-item {
            border: none;
            background: inherit;
        }

        &:hover {
            background: lightgoldenrodyellow;
        }

    }
